:root {
    --common-muted-color: #ccc;
    --common-shadow-color: #0000002e;
    --common-blue-color: #0077FC;
}

.infoIcon {
    width: 15px;
    vertical-align: middle;
}

.formBox {
    box-shadow: 0 0 13px var(--common-shadow-color);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding: 0px 10px;

}

.nextContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 10px 50px;
    background-color: #fff;
    box-shadow: 0 -6px 4px -5px var(--common-shadow-color);
}

.btnGroup {
    display: flex;
    justify-content: flex-end;
}

.backBtn, .nextBtn {
    width: 120px;
    padding: 6px 15px;
    border: 1px solid #000;
    outline: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.backBtn:disabled {
    opacity: 0.2;
}

.nextBtn {
    background-color: var(--common-blue-color);
    color: #fff;
    border-color: var(--common-blue-color);
    margin-left: 15px;
}

.boxContainer {
    padding: 0px 90px 90px;
    overflow-y: scroll;
    position: relative;
    height: 430px;
    scrollbar-width: thin;
    scrollbar-color: #aaa;

}

.boxContainer::-webkit-scrollbar {
    width: 7px;
}

.boxContainer::-webkit-scrollbar-track {
    background: transparent;
}

.boxContainer::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 6px;
    height: 10px;
    min-height: 10px;
    max-height: 10px;

}

.heading {
    font-size: 25px;
    margin: 0;
    color: #000000e3;
    padding: 25px 90px 0px;
}

.fieldLabel {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
}

.propertyFields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 25px 0px;
}

.fieldWidth {
    width: 100%;
    max-width: 100%;
    padding: 10px 18px;
    border-color: var(--common-muted-color);
    border-radius: 5px;
    appearance: none;
    border: 2px solid #0000002e;
    box-sizing: border-box;
    background-color: transparent;
}

input[type="text"]::placeholder {
    color: #ccc;

}

/* .colorMuted {
    color: var(--common-muted-color);
} */
.colorMuted::placeholder {
    color: var(--common-muted-color);
}

.fieldSelect {
    background-image: url('./../Images/arrow-24.png');
    background-repeat: no-repeat;
    background-position: right 10px;
    color: var(--common-muted-color);
}


.image {
    vertical-align: middle;
}

.textareaField {
    margin-bottom: 30px;
}

.textArea {
    width: 100%;
    height: 90px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 2px solid var(--common-muted-color);
}

.fileField {
    position: relative;
}

.uploadFilesContainer {
    width: 100%;
    height: 70px;
    border: 2px dashed var(--common-muted-color);
    border-radius: 5px;
    position: relative;
    padding: 10px;
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

.defaultFile {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

}

.fileName {
    display: block;
    background: var(--common-blue-color);
    width: 135px;
    height: 40px;
    overflow: auto;
    position: absolute;
    top: -52px;
    right: 0;
    color: #fff;

    z-index: 1;
    padding: 6px 6px;
    border-radius: 5px;
}

.fileTextAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.browseFileText {
    color: var(--common-blue-color);
    font-size: 16px;
    font-weight: 500;
}

.progress {
    display: flex;
    align-items: center;
    padding: 0px 60px 80px;
    justify-content: center;
    overflow-x: auto;
}

.badgeIndex {
    width: 30px !important;
    height: 30px !important;
    font-size: 16px;
    color: #fff;
    border-radius: 30px !important;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.progressParent>span:last-child {
    color: var(--common-blue-color);
}

.progressParent>span:not(:last-child) {
    background-color: var(--common-blue-color);
}

.progressParent.First~.progressParent>span:not(:last-child) {
    background-color: var(--common-muted-color);
}

.progressParent.First~.progressParent>span:last-child {
    color: var(--common-muted-color) !important;
}


.progressParent {
    position: relative;
    width: 172px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.progressParent>span {
    width: 6px;
    height: 6px;
    background-color: var(--common-muted-color);
    border-radius: 30px;
    display: inline-block;
    margin-right: 15px;
}

.badgeData {
    display: block !important;
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    width: 155px !important;
    box-sizing: border-box;
    color: #000;
    left: -58px;
    margin: 25px 0px 0px 0px;
    text-align: center;
    background: transparent !important;
}

.progressParent:nth-child(5)>.emptyDot {
    display: none !important;
}

.progressParent:nth-child(5) {
    justify-content: flex-start !important;
    width: 50px;
}

@media screen and (max-width:767px) {
    .propertyFields {
        display: grid;
        grid-template-columns: 100%;
        gap: 15px;
        margin: 25px 0px;
    }

    .boxContainer {
        padding: 0px 20px 90px;
        height: auto;
        overflow-y: unset;
    }

    .heading {
        font-size: 20px;
        padding: 25px 20px 0px;
    }

    .formBox {
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .progress {
        justify-content: flex-start;
    }

}

@media screen and (max-width:992px) {
    .badgeData {
        width: 108px !important;
        left: -39px;
    }
}

@media screen and (max-width:991px) and (min-width:768px) {
    .formBox {
        max-width: 700px;
        margin: 0 auto;
    }

    .boxContainer {
        padding: 0px 30px 90px;
    }

    .heading {
        padding: 25px 30px 0px;
    }
}