.homeNav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
    box-shadow: 0 8px 6px -6px #00000040;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    left: 0;
    background: #fff;
    z-index: 999;
}

.navbarToggle {
    display: none;
    outline: none;
    z-index: 9999;
    border: none;
    background: transparent;
}

.navbarToggleBar {
    border-radius: 4px;
    background-color: #000;
    height: 3px;
    display: block;
}

.navbarToggleBar:nth-child(1) {
    width: 12px;
}

.navbarToggleBar:nth-child(2) {
    width: 20px;
    margin: 5px 0px;
}

.navbarToggleBar:nth-child(3) {
    width: 14px;
}


.brand, .dropDown {
    display: flex;
    align-items: center;

}

.brandLogo {
    background-color: #0077FC;
    padding: 6px 7px;
    border-radius: 9px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
}

.brandName {
    font-size: 19px;
    font-weight: 600;
}

.dropDownBlock:hover .dropDownNone {
    display: block;

}

.dropDownBlock {
    position: relative;
}

.dropDownNone {
    display: none;
    position: absolute;
    padding: 0;
    background-color: #fff;
    right: 0;
    top: 50px;
    border-radius: 4px;
    margin: 0;
    word-wrap: break-word;
    list-style-type: none;
    padding: 10px 20px;
    width: 190px;
    box-shadow: 0 0 8px 5px #00000040;
}

.dropDownMenu {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;

}

.downArrow {
    width: 26px;
}

.dropDownLogo {
    background-color: #0077FC;
    padding: 10px 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    margin-right: 9px;

}

@media screen and (max-width:767px) {
    .homeNav {
        flex-direction: column;
        gap: 20px;
        height: 100%;
        justify-content: flex-start;
        top: 0px;
        left: -100%;
        padding: 87px 20px 0px 20px;
        transition: left 0.6s linear;
    }

    .homeNav.homeActive {
        left: 0;
    }

    .mobileToggleBar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        background: #fff;
        padding: 18px 20px;
        border-bottom: 1px solid #ccc;
    }

    .navbarToggle {
        display: block;
    }


}