@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.paddingTop {
    padding-top: 120px;
}

@media screen and (max-width:767px) {
    .paddingTop {
        padding-top: 85px;
    }


}

@media screen and (max-width:1200px) and (min-width:991px) {

    .container {
        max-width: 900px;

    }
}